body {
    background-image: url("tropical.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

#animatediv {
    color: rgb(7, 7, 7);
    font-size: 60px;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%);
    width: 600px;
    height: 300px;
    text-align: center;
    animation: back-ani 15s linear;
}

@keyframes back-ani {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1.0;
    }
}

.bird {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#slide1 {

    animation: slide1-ani 10s linear;
}

@keyframes slide1-ani {
    0% {
        opacity: .0;
        transform: translate(-50%, -50%);
    }



    100% {
        opacity: 1;
        transform: translate(-150vw, -50%);
    }
}

#slide2 {

    transform: scaleX(-1);

    animation: slide2-ani 10s linear;
}

@keyframes slide2-ani {
    0% {
        opacity: .0;
        transform: translate(-50%, -50%);
    }



    100% {
        opacity: 1.0;
        transform: translate(150vw, -50%);
    }
}

.image-box {
    position: absolute;
    top: 40%;
    left: 40%;

}

.img {
    position: absolute;
    width: 600px;
    height: 650px;
    border: 5px solid blue;
    border-color: rgba(116, 116, 252, 0.24);
    object-fit: cover;
    transition: opacity 1s ease;
}

.img2 {
    opacity: 0;
}

.image-box:hover .img2 {
    opacity: 1;
}

.image-box:hover .img1 {
    opacity: 0;
}