html,
body {
    background-color: rgb(5, 186, 71);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}



#game-wrapper {
    text-align: center;
}

#canvas1 {
    width: 500px;
    height: 300px;


}