html,
body {
    background-color: blue;
    margin: 0;
    padding: 0;
}

canvas {
    display: block;


}

#canvas1 {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    /* subtle shadow */
}