html,
body {
    background-color: rgb(5, 123, 186);
    margin: 0;
    padding: 0;

}



#game-wrapper {
    text-align: center;
}

#canvas1 {
    width: 500px;
    height: 300px;


}