#forrest {
    width: 1000px;
    display: block;
    transition: transform .25s linear;
    transform-origin: left top;
}


#Layer_128 {

    animation: sun 1.0s;
}

@keyframes sun {
    0% {
        transform: translate(0, -200px);
    }

    100% {
        transform: translate(0, 0);
    }
}

#Layer_128:hover path {
    fill: orange;
}



#Layer_67 {
    animation: flow 4s linear infinite;
}

@keyframes flow {
    0% {
        filter: hue-rotate(0deg);
        transform: translateX(0);
        transform: translateY(0);

    }

    50% {
        filter: hue-rotate(15deg);
        transform: translateX(3px);
        transform: translateY(3px);
        transform: scale(1.007);

    }

    100% {
        filter: hue-rotate(15deg);
        transform: translateX(-2px);
        transform: translateY(-3);

    }
}

#Layer_67:hover path {
    fill: rgba(101, 94, 239, 0.324);
}

#Layer_122 path {
    animation: cloud 3.0s;
    transform-origin: center;
    fill: rgb(27, 60, 122);


}

@keyframes cloud {
    0% {
        transform: scale(0.1);
    }

    100% {
        transform: scale(1.0);
    }
}

#Layer_122:hover path {
    fill: rgb(88, 88, 88);
}